@font-face{
	font-family: 'avo';
	src: url('../fonts/UTM Avo.ttf');
}
@font-face{
	font-family: 'akashi';
	src: url('../fonts/UTM Akashi.ttf');
}
@font-face{
	font-family: 'avoB';
	src: url('../fonts/UTM AvoBold.ttf');
}
*{
	font-family: 'avo';
	box-sizing: border-box
}
ul{
	padding-inline-start: 0;
}
/* header */
.header{
	background: #695034;
	color: #fff;

	padding: 6px 0 10px 153px
}
/* logo */
.header .logo{
	width: 62px;
	margin-top: 10px
}
/* .mid */
.header .info{
	text-align: center;
}
.header .ba-gon{
	font-family: 'akashi'
}
.slogan{
	position: relative;
}
.dess::before{
	content: '';
	background: #fff;
	width: 31px;
	height: 2px;
	position: absolute;
	top: 11px;
    left: 145px;
}
.dess::after{
		content: '';
	background: #fff;
	width: 31px;
	height: 2px;
	position: absolute;
	top: 11px;
    right: 145px;
}
/* right */
.header .header-r{
	margin-top: 11px;
}
.hotline{
	margin-top: 27px;
	box-sizing: border-box
}
.hotline span{
	border: 3px solid #fff;
	font-family: 'avoB';
	padding: 5px 12px;
}
.header .icon img{
	width: 15px;
}
.header .icon{
	margin-top: 8px
}
/* menu */
.menu{
	text-align: center;
	background: #dfd2c3;
}
.menu ul li{
	display: inline-block;
	padding: 12px 30px;
}
.menu ul li a{
	color: #000;
	text-decoration: none
}
.menu ul li:hover{
	background: #af8659
}
.menu-mb{
	display: none;
}
.menu-mb ul li{
		display: block;
		text-align: left
	}
.toggle{
	padding-right: 10px;
	font-size: 30px;
	display: none
}
/* reponsive menu*/
@media screen and (max-width: 768px){
	.menu-pc{
		display: none;
	}
	.toggle{
		display: block
	}
}
/* banner */
ul{
margin: 0;
}

/* chuyên khoa */
.menu-trai{
	margin-top: 10px
}
.chuyen-khoa .title{
	text-align: center;
	background: #0d8948;
	color: #fff;
	padding: 13px 50px;
	text-transform: uppercase
}
.chuyen-khoa .menu-ck{
	border: 1px solid #000;
	border-bottom: none;
}
.chuyen-khoa .menu-ck li{
	display:block;
	border-bottom:  1px solid #000;
	padding: 10px 0 15px 15px;
	color: #000
}
.chuyen-khoa .menu-ck li a{
	color: #000
}
.chuyen-khoa .menu-ck img{
	width: 12px;
	margin-right: 9px;
}
/* giới thiệu */
.main .gt{
	position: relative;
}
main .gioi-thieu::before{
	content: '';
	width: 825px;
	height: 1px;
	background: #000;
	position: absolute;
	top: 55px;
}
.gt .xem-t{
	padding-right: 52px
}
.gt .content img{
	width: 269px;
}
.button button{
	background: #0d8948;
	color: #fff;
	border-radius: 0;
	padding: 5px 30px
}
main .product{
margin:20px 0;
padding: 0 124px;
}
.product .items{
	padding: 0 33px
}
.product .title{
	background: #0d8948;
	color: #fff;
	padding: 5px;
}
.product .thong-tin .list{
	width: 25px;
	}
.product .thong-tin{
	border: 1px solid #000;
	border-top: none;
	padding: 5px;
}
.product .noi-bat{
	padding: 1px;
	border: 1px solid #000;
	font-weight: bold;
	border-bottom: 2px solid #000
}
.product .thong-tin ul{
	padding-inline-start: 20px;
}
.product .thong-tin ul li{
	padding-bottom: 10px;
}
.product a{
	color: #000;
}
.xem-them{
	/* margin-top: 100px; */
	padding: 30px 151px
}
.xem-them .button button{
	margin-top: 20px
}
.xem-them .button{
	position: relative;
}
.xem-them .bai-thuoc::before{
	content: '';
	width: 100%;
	height: 1px;
	background: #000;
	position: absolute;
	bottom:  0;
	right: 0;
}
.loi-ich .media{
	margin-top: 20px
}
.loi-ich img{
	width: 36px;
}
footer .tren{
	background: #ad9f90;
	padding: 60px 151px;
		color: #fff
}
footer .tren img{
	width: 120px;
}
footer .tren .thuoc-d{
	padding: 15px 0 0 29px;

}
footer .tren .phai p{
 /* margin: 0 */
 font-size: 15px
}
footer .duoi{
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px

}